<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyscamper.cashnote" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yyscamper.cashnote.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yyscamper.cashnote.SelectPersonActivity"
            android:label="@string/activity_select_persons" >
        </activity>
        <activity
            android:name="com.yyscamper.cashnote.SelectLocationActivity"
            android:label="@string/title_activity_select_location" >
        </activity>
        <activity
            android:name="com.yyscamper.cashnote.LocationListActivity"
            android:label="@string/title_activity_location_list" >
        </activity>
        <activity
            android:name=".PersonManagerActivity"
            android:label="@string/title_activity_persons_list" >
        </activity>
        <activity
            android:name="com.yyscamper.cashnote.LocationGroupActivity"
            android:label="@string/activity_location_groups" >
        </activity>
        <activity
            android:name="com.yyscamper.cashnote.HistoryListActivity"
            android:label="@string/title_activity_history_list" >
        </activity>
        <activity
            android:name="com.yyscamper.cashnote.PersonDetailActivity"
            android:label="@string/title_activity_person_detail" >
        </activity>
    </application>

</manifest>
